.plan_body{
    background-color: rgba(255,255,255, 0.4);
    font-size: medium;
    padding: 20px 20px 10px 20px;
    margin: 10px 0 5px 0;
    border-radius: 10px;
}

/*input[type="text"] {*/
/*    width: 500px; !* 调整输入框的宽度为80% *!*/
/*}*/

.large-font{
    font-size: 20px;
    font-weight: bold;
}
