body {
    background-image: url('/css/images/background.png');
    background-repeat: no-repeat;/* 设置背景图片的重复方式，这里设置为不重复 */
    background-size: cover;/* 将背景图片铺满整个屏幕 */
    background-attachment: fixed;/* 将背景图片固定在视口中 */
}

nav {
    padding: 0;
    height: 15vh; /* 高度为视口的10% */

}

.nav-item {
    display: inline-block; /* 确保横向排列 */
    /*margin: 20px 50px; !* 两侧外间距 *!*/
    align-self: flex-start; /* 调整此项以改变nav-item的垂直对齐而不影响logo */
}

.nav-item img {
    vertical-align: bottom; /* 图片底端对齐 */
    /*height: auto; !* 高度自适应以保持比例 *!*/
}

.nav-text {
    color: #000;
    font-weight: bold;
    font-family: 'Nunito', sans-serif; /* 保持整站字体风格统一 */
    margin-top: 5px; /* 适当增加与图标的间距 */
    margin-right: 10px; /* 右侧留出一定间距 */
    display: flex;
    justify-content: space-between; /* 将内容靠右对齐并留有间距 */
}

.search-box {
    display: flex;
    justify-content: flex-start; /* Change the alignment to start */
}

.glass-container{
    /*margin: 0 auto; !* 居中显示 *!*/
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 0px;
    backdrop-filter: blur(5px);
    background-color: rgba(97,204,163, 0.288);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 0 rgba(255,255,255,0.4) solid;
    border-bottom: 0 rgba(40,40,40,0.35) solid;
    border-right: 0 rgba(40,40,40,0.35) solid;
}

aside {
    background-color: #eff6ef; /* 设置背景色为白色 */
    min-height: 85vh;
    text-decoration: none;
}

.aside-item {
    margin-top: 40px; /* 增加上边距 */
    margin-bottom: 20px;
    margin-left: 10px; /* 设置距禽左边5像素 */
    display: flex; /* 使用弹性布局使图片和文本在同一行 */
    align-items: center; /* 垂直居中 */
    text-decoration: none;
}

.aside-item:hover {
    background-color: #85a384; /* 绿色背景 */
    text-decoration: none;
}

.aside-item img {
    width: 23px; /* 设置图片宽度为20像素 */
    margin-right: 5px; /* 图片和文本之间的间距 */
}

.aside-item a {
    display: block;
    align-items: center;
    text-decoration: none;
    color: black;
}

.aside-text {
    font-size: 18px; /* 设置字体大小为20像素 */
    text-align: left; /* 文本左对齐 */
    font-weight: bold;
    color:black;
    text-decoration: none;
}


a:hover {
    text-decoration: none; /* 悬停时依然不显示下划线 */
    color: inherit; /* 悬停时颜色不变化 */
}


main {
    margin-top: auto; /* 将内容推到nav元素下方 */
    display: flex;
    padding: 0;
    min-height: 85vh; /* 最小高度为视口的80% */
}

.main-container{
    flex: 1; /* 设置剩余空间为flex-grow: 1，即自动填充剩余空间 */
    margin: 30px 0 30px 30px; /* 左侧的 margin */
    padding: 30px;
    backdrop-filter: blur(3px);
    background-color: rgba(150,204,163, 0.4);
    border-radius: 10px;
    overflow: auto;
    max-height: 77vh; /* 减去顶部和底部的 padding 值 */
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
}

    .weather {
        position: absolute;
        right: 5%;
    }

    .map {}


