
.nav-container {
    display: flex; /* 启用Flexbox布局 */
    justify-content: center; /* 水平居中对齐所有项目 */
    align-items: center; /* 垂直居中 */
    background-color: #718096;
}
.nav-item {
    display: inline-block; /* 确保横向排列 */
    text-align: center; /* 图标和文本居中对齐 */
    align-items: center; /* 垂直居中对齐图标和文本 */
    margin: 20px 50px; /* 两侧外间距 */
    align-self: flex-start; /* 调整此项以改变nav-item的垂直对齐而不影响logo */
}

.nav-item img {
    vertical-align: bottom; /* 图片底端对齐 */
    height: auto; /* 高度自适应以保持比例 */
}

.nav-text {
    color: #000;
    font-weight: bold;
    text-shadow: 1px 1px 3px #808080; /* 为文字添加阴影以提高对比度，增加可读性 */
    font-family: 'Nunito', sans-serif; /* 保持整站字体风格统一 */
    margin-top: 5px; /* 适当增加与图标的间距 */
}

